/* 调休加班 */
.overtime {
  background: #ff000063;
  border-radius: var(--van-radius-md);
}

/* 休息 */
.vacation {
  background: #00b8ff52;
  border-radius: var(--van-radius-md);
  margin-bottom: var(--van-calendar-day-margin-bottom);
}

/* 请假 */
.leave {
  background: #11ff0042;
  border-radius: var(--van-radius-md);
}

/* 调休时请假 */
.overtime-leave {
  background: linear-gradient(45deg, #ff000063 20%, #11ff0042 80%);
}
